:root {
  --main-color: #1abc9c;
  --second-color: #2c3e50;
  --second-color-alt: #1a252f;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* main title section */
.title:not(.text-white) {
  color: var(--second-color);
}
.title-line {
  height: 4px;
  width: 80px;
}
.title.text-white .title-line {
  background-color: #fff;
}
.title:not(.text-white) .title-line {
  background-color: var(--second-color);
}
